<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    {% block styles %}{% endblock styles %}

    {% block top_scripts %} {% endblock top_scripts %}
</head>

<body class="">

    {% block init_body %} {% endblock init_body %}

    <div class="wrapper">

        {% block  left_categories_ranking %}{% endblock left_categories_ranking %}

        <div class="main-panel">

            {% block nav_bar %}{% endblock nav_bar %}

            <div class="content">
                {% block messages %}
                    {% include 'utils/messages.html' %}
                {% endblock messages %}
                <div class="container-fluid">
                    {% block content %}{% endblock content %}
                </div>
            </div>

            {% block footer %}{% endblock footer %}

        </div>
    </div>
</body>

{% block bottom_js %}{% endblock bottom_js %}