{% extends "base.html" %}
{% load static %}

{% block styles %}
    {% include 'utils/base_styles.html' %}

    <!-- Estilos de la página principal -->
    <link href="{% static 'assets/css/index.css' %}" type="text/css" rel="stylesheet"/>
    <!-- end -->

    <!-- Estilos sugerencias de búsqueda -->
    <link href="{% static 'assets/css/search-suggest.css' %}" type="text/css" rel="stylesheet"/>
    <!-- end -->


{% endblock styles %}

{% block top_scripts %}
    <script>
        var searchAutocompleteUrl = '{% url 'ajax_search_autocomplete' %}';
    </script>
    {% include 'utils/base_top_js.html' %}
    <script src="{% static 'assets/js/plugins/typeahead.bundle.0.11.1.js' %}"></script>
    <script src="{% static 'assets/js/cybertesis/typehead-personalize.js' %}"></script>
{% endblock top_scripts %}

{% block left_categories_ranking %}
    <!-- Side bar: ranking de categorías -->
    {% include 'sections/left_categories_ranking.html' %}
    <!-- End ranking de categorías -->
{% endblock left_categories_ranking %}

{% block nav_bar %}
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form col-md-10" action="/search/" method="get" onsubmit="return false;">
                <div id="scrollable-dropdown-menu" class="input-group no-border">
                    <input id="buscador_principal" type="text" value="" class="form-control typeahead"
                           autocomplete="off"
                           placeholder="{% if category_name %}Buscar en las tesis de la categoría {{ category_name }}... {% else %}Buscar en todas las tesis...{% endif %}">
                    <button id="buscador_principal_btn" type="button"
                            class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
        <div class="navbar-wrapper col-md-2">
            <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-graduation-cap"></i> Cybertesis</a>
        </div>
    </nav>
{% endblock nav_bar %}

{% block content %}

    <!-- Top Resume Info-->
    {% include 'sections/top_resume_info.html' %}
    <!-- End Top Resume Info -->

    <!-- Central published Tesis -->
    {% include 'sections/central_published_tesis.html' %}
    <!-- End Central published Tesis-->

    <div class="row">
        <!-- Tutores recomendados -->
        {% include 'sections/recommended_tutors.html' %}

        <!-- Palabras más buscadas-->
        {% include 'sections/top_searched_words.html' %}
    </div>

{% endblock content %}

{% block footer %}
    {% include 'sections/footer.html' %}
{% endblock footer %}


{% block bottom_js %}

    {% include 'utils/base_js.html' %}

    <!--JS -->
    <script src="{% static 'assets/js/cybertesis/searcher.js' %}"></script>
    <script type="text/javascript">
        var searchUrl = "{% url 'search' %}";
    </script>
{% endblock bottom_js %}