<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'assets/css/login.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="info">
    <h1>Cybertesis</h1>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
  <form class="register-form" method="post">
    <input type="text" placeholder="name"/>
    <input type="password" placeholder="password"/>
    <input type="text" placeholder="email address"/>
    <button>create</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
  </form>
  <form class="login-form" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="usuario"/>
    <input type="password" name="password" placeholder="contraseña"/>
    <button type="submit">login</button>
    <p class="message">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>

</body>
</html>