{% extends "base.html" %}
{% load static %}

{% block styles %}
    {% include 'utils/base_styles.html' %}
    <!-- Estilos de la página principal -->
    <link href="{% static 'assets/css/index.css' %}" type="text/css" rel="stylesheet"/>
    <!-- end -->
{% endblock styles %}

{% block left_categories_ranking %}
    <!-- Side bar: ranking de categorías -->
    {% include 'sections/tesis-resume-left-panel.html' %}
    <!-- End ranking de categorías -->
{% endblock left_categories_ranking %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">{{ tesis.type|default:"" }}</h4>
                            <p class="card-category">{{ tesis.title|default:"" }}</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Año</label>
                                            <input type="text" class="form-control" value="{{ tesis.year|default:"" }}"
                                                   disabled>
                                        </div>
                                    </div>
                                    {% if tesis.postgraduate %}
                                        <div class="offset-md-4 col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"></label>
                                                <input type="text" class="form-control" value="Posgrado"
                                                       disabled>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nombre de Carrera o programa de
                                                Postgrado</label>
                                            <input type="text" class="form-control"
                                                   value="{{ tesis.career_name|default:"" }}"
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Tutor 1</label>
                                            <input type="text" class="form-control"
                                                   value="{{ tesis.tutor1|default:"" }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Tutor 2</label>
                                            <input type="text" class="form-control"
                                                   value="{{ tesis.tutor2|default:"" }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Autores</label>
                                            <input type="text" class="form-control"
                                                   value="{{ tesis.authors|default:"" }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Resumen-Abstract</label>
                                            <div class="form-group tesis-description-container">
                                                <p class="form-control tesis-description">{{ tesis.description|default:"" }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Link</label>
                                            <input type="text" class="form-control"
                                                   value="{{ tesis.url|default:"No existe link" }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Formato</label>
                                            <input type="text" class="form-control"
                                                   value="{{ tesis.format|default:"No especificado" }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin: 40px">
                                    <span class="pull-right" style="font-family:Roboto, Helvetica, Arial, sans-serif
;font-size: 18px; color: dimgray">123</span>
                                    <span class="fa fa-thumbs-o-up pull-right"
                                          style="font-size: 28px; color: #8e24aa"></span>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        {% if tesis.logo %}
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="/media/{{ tesis.logo }}"/>
                                </a>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-category text-gray">{{ tesis.place }}</h6>
                            <h4 class="card-title">{{ tesis.institution }}</h4>
                            <p class="card-description">
                                {{ tesis.faculty }}
                            </p>
                            <a href="#pablo" class="btn btn-primary btn-round">Todas las tesis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'sections/footer.html' %}
{% endblock footer %}

{% block bottom_js %}
    {% include 'utils/base_js.html' %}
{% endblock bottom_js %}