<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Tesis publicadas</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Titulo
                        </th>
                        <th>
                            Carrera
                        </th>
                        <th>
                            Facultad
                        </th>
                        <th>
                            Institución
                        </th>
                        <th>
                            Año
                        </th>
                        </thead>
                        <tbody id="results_body">
                        {% for item in tesis_list %}
                            <tr>
                                <td style="text-overflow: ellipsis;">
                                    {{ item.title }}
                                </td>
                                <td>
                                    {{ item.career_name }}
                                </td>
                                <td>
                                    {{ item.faculty_name }}
                                </td>
                                <td>
                                    {{ item.institution_name }}
                                </td>
                                <td class="text-primary">
                                    {{ item.year }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<div class="card card-chart">-->
    <!--<div class="card-header card-header-success">-->
    <!--<div class="ct-chart" id="dailySalesChart"></div>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Daily Sales</h4>-->
    <!--<p class="card-category">-->
    <!--<span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="stats">-->
    <!--<i class="material-icons">access_time</i> updated 4 minutes ago-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div class="card card-chart">-->
    <!--<div class="card-header card-header-warning">-->
    <!--<div class="ct-chart" id="websiteViewsChart"></div>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Email Subscriptions</h4>-->
    <!--<p class="card-category">Last Campaign Performance</p>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="stats">-->
    <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div class="card card-chart">-->
    <!--<div class="card-header card-header-danger">-->
    <!--<div class="ct-chart" id="completedTasksChart"></div>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Completed Tasks</h4>-->
    <!--<p class="card-category">Last Campaign Performance</p>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="stats">-->
    <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>