<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <h4 class="card-title ">Tesis publicadas{% if category_name %} en {{category_name}} {% endif %}</h4>
                        <ul class="nav nav-tabs justify-content-end" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#profile" data-toggle="tab">
                                    <i class="material-icons">access_time</i> Más recientes
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings" data-toggle="tab">
                                    <i class="material-icons">star</i> Más valoradas
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                        </th>
                        <th>
                            Titulo
                        </th>
                        <th>
                            Carrera
                        </th>
                        <th>
                            Facultad
                        </th>
                        <th>
                            Institución
                        </th>
                        <th>
                            Valoración
                        </th>
                        <th>
                            Año
                        </th>
                        </thead>
                        <tbody id="results_body">
                        {% if tesis_list %}
                            {% for item in tesis_list %}
                            <tr>
                                <td><a href="{% url 'tesis' item.id %}" target="_blank">
                                    <span class="fa fa-external-link tesis-access-link"></span></a>
                                </td>
                                <td style="text-overflow: ellipsis;">
                                    {{ item.title }}
                                </td>
                                <td>
                                    {{ item.career_name }}
                                </td>
                                <td>
                                    {{ item.faculty_name }}
                                </td>
                                <td>
                                    {{ item.institution_name }}
                                </td>
                                <td style="text-align: center;">
                                    {{ item.rating }} <i class="rating-stars filled-stars fa fa-star"></i>
                                </td>
                                <td class="text-primary">
                                    {{ item.year }}
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">Sin resultados</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<div class="card card-chart">-->
    <!--<div class="card-header card-header-success">-->
    <!--<div class="ct-chart" id="dailySalesChart"></div>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Daily Sales</h4>-->
    <!--<p class="card-category">-->
    <!--<span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="stats">-->
    <!--<i class="material-icons">access_time</i> updated 4 minutes ago-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div class="card card-chart">-->
    <!--<div class="card-header card-header-warning">-->
    <!--<div class="ct-chart" id="websiteViewsChart"></div>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Email Subscriptions</h4>-->
    <!--<p class="card-category">Last Campaign Performance</p>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="stats">-->
    <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div class="card card-chart">-->
    <!--<div class="card-header card-header-danger">-->
    <!--<div class="ct-chart" id="completedTasksChart"></div>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Completed Tasks</h4>-->
    <!--<p class="card-category">Last Campaign Performance</p>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="stats">-->
    <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>