{% load static %}
<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="#" class="simple-text logo-normal">
            <i class="fa fa-navicon"></i> Menú
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fa fa-home"></i>
                    <p>Panel principal</p>
                </a>
            </li>
        </ul>
    </div>
</div>