<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a href="#" class="simple-text logo-normal">
            <i class="fa fa-trophy"></i> RANKING <br>DE CATEGORIAS
        </a>
    </div>
    <div class="sidebar-wrapper">
        {% if tesis_top_categories %}
            <ul class="nav">
                    {% for category in tesis_top_categories %}
                        <li class="nav-item ">
                            <a class="nav-link" href="../examples/dashboard.html">
                                {{ category.category_icon |safe }}
                                <p>{{ category.category_name }}</p>
                            </a>
                        </li>
                    {% endfor %}
            </ul>
        {% else %}
            <p>No existe ranking de categorías</p>
        {% endif %}
    </div>
</div>