<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Tutores Recomendados</h4>
            <p class="card-category">Según tus busquedas</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Ultima Tutoría</th>
                </thead>
                <tbody id="recommend-tutors-body">
                    {% for tutor in recommended_tutors %}
                        <tr>
                            <td>{{ tutor.name }}</td>
                            <td>{{ tutor.category }}</td>
                            <td>{{ tutor.year }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>