<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Tutores Recomendados</h4>
            <p class="card-category">Según tus busquedas</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Ultima Tutoría</th>
                </thead>
                <tbody>
                <tr>
                    <td>Dra. Olga Gonzalez</td>
                    <td>Ciencias Juridicas</td>
                    <td>2017</td>
                </tr>
                <tr>
                    <td>Ubaldo Evaristo Fernandez Krekeler</td>
                    <td>Ingeniería Y Tecnología</td>
                    <td>2017</td>
                </tr>
                <tr>
                    <td>Francisco Lezcano</td>
                    <td>Contabilidad Empresarial</td>
                    <td>2015</td>
                </tr>
                <tr>
                    <td>David Ayala</td>
                    <td>Psicología</td>
                    <td>2014</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>