<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Palabras más buscadas</h4>
            <p class="card-category">Hasta la fecha</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>Palabra</th>
                <th>Cantidad</th>
                </thead>
                <tbody>
                    {% if top_words_searched %}
                        {% for word in top_words_searched %}
                            <tr>
                                <td>{{ word.word }}</td>
                                <td>{{ word.count }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="2">Aún no se realizó ninguna búsqueda</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>