<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Palabras más buscadas</h4>
            <p class="card-category">Hasta la fecha</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>Palabra</th>
                <th>Cantidad</th>
                </thead>
                <tbody>
                <tr>
                    <td>Ciencias</td>
                    <td>589</td>
                </tr>
                <tr>
                    <td>Medicina</td>
                    <td>411</td>
                </tr>
                <tr>
                    <td>Tecnologia</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Mecatronica</td>
                    <td>101</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>